<manifest xmlns:android="http://schemas.android.com/apk/res/android">


<!-- Android 11+ (API 30+) ke liye required:
     Yeh declare karta hai ki app device ke CAMERA app ko use kar sakti hai.
     Image Picker camera kholne ke liye IMAGE_CAPTURE intent use karta hai.
     Agar yeh add nahi hoga to camera open nahi hoga (silent fail). -->
<!-- <queries>
    <intent>
        <action android:name="android.media.action.IMAGE_CAPTURE" />
    </intent>
</queries> -->


 <!-- Internet access for API calls, sockets, image upload, maps, and real-time tracking -->
<uses-permission android:name="android.permission.INTERNET" />

<!-- Camera permission: Used only when user takes a live selfie for profile picture.
     Required for react-native-image-picker to open the device camera. -->
<uses-permission android:name="android.permission.CAMERA"/>

<!-- Android 12 & below (API <= 32): Required to allow user to pick profile image from gallery.
     Used only for reading user-selected media, not for background storage access. -->
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<!-- Legacy write permission (Android 10 & below): Required only when saving camera-captured
     images temporarily before upload. Not used for modifying user’s files. -->
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

<!-- Android 13+ (API 33+): New permission required for selecting images from gallery.
     This is mandatory for accessing user-selected photos securely. -->
<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />




    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="${usesCleartextTraffic}"

      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true"
        android:screenOrientation="portrait"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
